@font-face
   font-family Hacen_Beirut
   font-style normal
   src url(../assets/fonts/HacenBeirutLight.ttf)

$body-font-family = 'cocon-next-arabic'
$alert-font-size = 18px
 
@import '~vuetify/src/stylus/main'

